.dialog-label {
    -fx-background-color: #e2eadb;
    -fx-text-fill: #294536;
    -fx-border-color: #cbd8c3;
    -fx-border-width: 1px;
    -fx-background-radius: 16px 16px 4px 16px;
    -fx-border-radius: 16px 16px 4px 16px;
    -fx-font-size: 14px;
    -fx-line-spacing: 3px;
}

.reply-label {
    -fx-background-color: #fffdf7;
    -fx-border-color: #dedfce;
    -fx-background-radius: 16px 16px 16px 4px;
    -fx-border-radius: 16px 16px 16px 4px;
}

.add-label {
    -fx-background-color: #eaf1e2;
    -fx-border-color: #c9d9bd;
}

.marked-label {
    -fx-background-color: #dcebd4;
    -fx-border-color: #b9ceac;
}

.delete-label {
    -fx-background-color: #f2e8da;
    -fx-border-color: #dfccb5;
}

.avatar {
    -fx-background-color: #dce8d3;
    -fx-background-radius: 14px;
}

.avatar SVGPath {
    -fx-fill: #426449;
}

.user-avatar {
    -fx-background-color: #e7e1d4;
}

.user-avatar SVGPath {
    -fx-fill: #70634e;
}
